*{
    
}
.container {
    text-align: center;
    list-style-position: inside;

}
img{
    height: 350px;
    width: 250px;
}
nav{
    background-color: lightblue;
    height: 35px;
    font-size: 20px;
}
.post{
    border-bottom: 1px solid black;
}